// Colors
$secondary-nav-bg: $silver;
$secondary-nav-color: #8d9297;
$secondary-nav-border: $overcast;

$secondary-nav-here-icon-color: $link-color;
$secondary-nav-here-text-color: $text-color;
$secondary-nav-here-bg: #fafafa;
$secondary-nav-hover-bg: #f5f5f5;

// Sizes
$secondary-nav-width-small: 38px;

.secondary_nav {
  background: $secondary-nav-bg;

  @include until($small) {
    border-bottom: 1px solid $secondary-nav-border;
  }

  @include at-least($small) {
    border-right: 1px solid $secondary-nav-border;

    .link_label { 
      display: inline-block;
      @include smooth-text;
    }
  }
}

.secondary_nav-item {
  white-space: nowrap;
  text-decoration: none;
  display: table-cell;
  text-align: center;
  color: $secondary-nav-color;
  line-height: 30px;
  position: relative;
  padding: 3px 8px;

  .link_label {
    display: none;
    @include at-least(450px) {
      display: block;
      font-size: 11px;
      line-height: 18px;
    }
  }

  .nav-icon {
    font-size: 20px;
    display: block;
  }

  @include at-least($small) {
    text-align: left;
    display: block;
  }

  @include between($small, $large) {
    padding: 0;
    .nav-icon {
      padding: 3px 8px;
      width: 100%;
      text-align: center;
    }
    @include link-label(lighten($base-bg, 15), 30px);
  }

  @include at-least($large) {
    padding: 3px 18px 3px 10px;

    .nav-icon {
      display: inline-block;
    }

    .link_label {
      display: inline-block;
      font-size: 14px;
      transition: opacity ease-out .3s;
    }
  }


  &:focus, &:hover, &.here {
    box-shadow: 1px 0 0 rgba(#000, .1), -1px 0 0 rgba(#000, .1);
    background: $secondary-nav-hover-bg;
    color: $secondary-nav-here-text-color;

    @include at-least($small) {
      box-shadow: 0 1px 0 rgba(#000, .1), 0 -1px 0 rgba(#000, .1);

      &:first-child {
        box-shadow: 0 1px 0 rgba(#000, .1);
      }
    }
  }

  &.here {
    background: $secondary-nav-here-bg;

    .nav-icon {
      color: $secondary-nav-here-icon-color;
    }
  }
}
