// Text icons inherit properties from the parent element.
// Namely size (based on font-size) and fill, based on currentColor
.text-icon {
  clip: auto;
  background-size: auto 1em;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  overflow: hidden;
  height: 1em;
  width: 1em;
  color: inherit;
  fill: currentColor;
  vertical-align: middle;
}
