.progress-bar-wrapper {
  font-size: .8em;
}
.progress-bar {
  height: 1em;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  background: #fff;
  width: 150px;
  max-width: 100%;
  vertical-align: middle;

  &:before {
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    box-shadow: 0 0 0 1px rgba(#000, .3) inset;
    z-index: 1;
    border-radius: 3px;
  }

  .progress-bar-label + &,
  + .progress-bar-label {
    margin-left: .5em;
  }
}

.progress-bar-label {
  vertical-align: middle;
}

.progress-bar-fill {
  border-radius: 3px;
  position: absolute;
  top: 0; left: 0; bottom: 0;
}

[id=nprogress] {
  .bar {
    background: $babyblue;
  }
  .peg {
    box-shadow: 0 0 10px $babyblue, 0 0 5px $babyblue;
  }
}
