// Colors

$base-bg: $space;

// Text colors
$link-color: $blue;
$text-color: $shade;// == #57636e; #3f474f;
$light-text-color: #888;

// Main content
$main-bg: $offwhite;
$header-border: #ccc;
$page-border: $overcast;

$page-gray: #edefef;
$bright: #fafafa;

/*$code-purple: #8868BC;*/
/*$code-green:  #539F50;*/
/*$code-yellow: #E6DB74;*/
/*$code-orange: #FD971F;*/
/*$code-red:    #DB4139;*/

$full-palette: (
'black':        $black,
'mediumgray':   $mediumgray,
'darkgray':     $darkgray,
'slate':        $slate,
'space':        $space,
'night':        $night,

'white':        $white,
'softwhite':    $softwhite,
'offwhite':     $offwhite,
'silver':       $silver,
'lightgray':    $lightgray,
'gray':         $gray,
'overcast':     $overcast,
'bluegray':     $bluegray,
'shade':        $shade,

'red':          $red,
'boldred':      $boldred,
'lightred':     $lightred,
'palered':      $palered,
'softred':      $softred,
'pink':         $pink,

'orange':       $orange,
'paleorange':   $paleorange,
'softorange':   $softorange,

'yellow':       $yellow,
'softyellow':   $softyellow,
'cream':        $cream,
'yellowwhite':  $yellowwhite,

'softgreen':    $softgreen,
'green':        $green,
'greenwhite':   $greenwhite,

'blue':         $blue,
'boyblue':      $boyblue,
'softblue':     $softblue,
'babyblue':     $babyblue,
'darkblue':     $darkblue,
'lightblue':    $lightblue,
'paleblue':     $paleblue,
'bluewhite':    $bluewhite,

'purple':       $purple,
'lightpurple':  $lightpurple,
'softpurple':   $softpurple
);


/* Colors from Ethan Shoonover's _Solarized_:
 * http://ethanschoonover.com/solarized
 */

$solarized_base03:  #002b36;
$solarized_base02:  #073642;
$solarized_base01:  #586e75;
$solarized_base00:  #657b83;
$solarized_base0:   #839496;
$solarized_base1:   #93a1a1;
$solarized_base2:   #eee8d5;
$solarized_base3:   #fbfbfb;
$solarized_yellow:  #b58900;
$solarized_orange:  #cb4b16;
$solarized_red:     #dc322f;
$solarized_magenta: #d33682;
$solarized_violet:  #6c71c4;
$solarized_blue:    #268bd2;
$solarized_cyan:    #2aa198;
$solarized_green:   #859900;

$code_base03:  $solarized_base3;
$code_base02:  $solarized_base2;
$code_base01:  $solarized_base1;
$code_base00:  $solarized_base0;
$code_base0:   $solarized_base00;
$code_base1:   $solarized_base01;
$code_base2:   $solarized_base02;
$code_base3:   $solarized_base03;
$code_yellow:  $solarized_yellow;
$code_orange:  $solarized_orange;
$code_red:     $solarized_red;
$code_magenta: $solarized_magenta;
$code_violet:  $solarized_violet;
$code_blue:    $solarized_blue;
$code_cyan:    $solarized_cyan;
$code_green:   $solarized_green;
