@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-40px) }
  100% {
    opacity: 1;
    transform: translateY(0) }
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translateY(0) }
  100% {
    opacity: 0;
    transform: translateY(-40px) }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0; 
  }
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(360deg); 
  }
}

@keyframes half-spin {
  0% { 
    transform: rotate(-180deg); 
  }
  100% {
    transform: rotate(0deg); 
  }
}

@keyframes zoom-in {
  0% { 
    transform: scale(.8, .8); 
  }
  100% {
    transform: scale(1,1); 
  }
}
