@keyframes box-pop {
  0% {
    /*opacity: 0; */
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    transform: translateY(0) scale(0.95, 0.95);
  }
  100% {
    /*opacity: 1; */
    box-shadow: 0 11px 18px rgba(0,0,0,0.2);
    transform: translateY(-20px) scale(1, 1);
  }
}

@keyframes dialog-slide-down {
  0%, 20% {
    opacity: 0;
  }
  21% {
    opacity: 1; 
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    transform: translateY(-45px) scale(0.95, 0.95);
  }
  100% {
    opacity: 1; 
    box-shadow: 0 11px 18px rgba(0,0,0,0.2);
    transform: translateY(-15px) scale(1, 1);
  }
}

@keyframes dialog-slide-up {
  0% {
    opacity: 1; 
    box-shadow: 0 11px 18px rgba(0,0,0,0.2);
    transform: translateY(-15px) scale(1, 1);
  }
  10% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    transform: translateY(-55px) scale(.95, .95);
  }
}
