.deployment_info {
  @extend .box-info;
  display: table;
  width: 100%;
  border-bottom: none;

  &-item {
    display: table-cell;
    padding: 0 10px;

    &:first-child { 
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  &:last-child {
    border-bottom: 1px solid $page-border;
  }
}

.shell-box {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 3px inset, rgba(255, 255, 255, 0.8) 0 1px;
  padding: 6px 8px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #424242;
  color: #eee;
  font-family: "Liberation Mono","Ubuntu Mono", monaco,
  "Lucida Console", "Consolas", monospace;
  text-shadow: #000 0 1px;
  margin: $block-margin 0;
}
