- primary_nav do |nav|
  = nav.item 'Deployments', "/#{current_account.slug}/deployments",
    icon: 'deployments',
    here_if: { path: /#{current_account.slug}\/deployments/ }

  = nav.item 'Clusters', "/#{current_account.slug}/clusters",
    icon: 'deployment-cluster',
    here_if: { path: /#{current_account.slug}\/clusters/ }

  = nav.item 'Account', "/account",
    icon: 'account-circle',
    class: "#{'here' if @primary_nav_here  == 'account' }"
  
  = nav.item 'Support', "/#{current_account.slug}/support/tickets",
    icon: 'question-line',
    class: "#{'here' if @primary_nav_here == 'support' }"
  
  = nav.sign_out
