- primary_nav do |nav|
  = nav.item 'Deployments', "/#{current_account.slug}/deployments",
    icon: 'deployments',
    class: "#{'here' if @primary_nav_here  == 'deployments' }"

  = nav.item 'Account', "/account",
    icon: 'account_circle',
    class: "#{'here' if @primary_nav_here  == 'account' }"
  
  = nav.item 'Alerts', "/#{current_account.slug}/alerts",
    icon: 'alerts',
    class: "#{'here' if @primary_nav_here  == 'alerts' }"
  
  = nav.item 'Support', "/#{current_account.slug}/support/tickets",
    icon: 'question_line',
    class: "#{'here' if @primary_nav_here == 'support' }"
  
  = nav.sign_out
