@each $name, $color in $full-palette {
  .#{"" + unquote($name)}-pill, .#{"" + unquote($name)}-outline-pill {
    border-color: $color;
    @extend %pill;
  }
  .#{"" + unquote($name)}-tag {
    background-color: $color;
    color: rgba($white, .85);
    @extend %tag;
  }
  .#{"" + unquote($name)}-pill {
    background-color: $color;
    color: rgba($white, .85);
  }
  .#{"" + unquote($name)}-outline-pill {
    color: $color;
  }
}

%pill {
  display: inline-block;
  border-radius: 1em;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  line-height: 1.4em;
  top: -.2em;
  border-width: 2px;
  border-style: solid;

  &:before, &:after {
    content: "\00a0";
    letter-spacing: .5em;
  }
}

.tag {
  border-radius: 4px;
  font-size: 11px;
  line-height: 1.3em;
  top: -.1em;
  border-width: 1px;
  border-style: solid;

  &:before, &:after {
    content: "\00a0";
    letter-spacing: .2em;
  }
}

%tag {
  font-size: .6em;
  border-radius: 4px;
  line-height: 1.5em;
  padding: 2px 4px;
  vertical-align: middle;
  font-weight: bold;
}

.new-tag {
  @extend %tag;
  background: $blue;
  text-transform: uppercase;
}
