.select_box {
  max-width: 100%;
  background: #fff;
  font-size: 1em;
  position: relative;
  display: inline-block;

  &.fill {
    display: block;
    select { width: 100%; }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    cursor: pointer;

    @extend %text-input;
    font-size: 14px;
    padding-right: 2.2em;
    &, &:focus {
      background: transparent;
    }
    position: relative;
    z-index: 1;
  }

  &:after {
    content: "";
    z-index: 0;
    position: absolute;
    right: .8em;
    @include triangle(down, rgba(#000, .2), 6px);
    bottom: 40%;
  }
}
